<% if user_signed_in? %>
  <div class="col-md-7 jumbotron center">
    <h1><%= link_to "Start Your Journey", areas_path %></h1>
  </div>
  <div class="col-md-4 col-md-offset-1 jumbotron">
    <h2><%= image_tag(current_user.avatar.url(:thumb)) %> <%= current_user.user_name %></h2>
    <p>Current Inventory:</p>
    <ul><% current_user.items.each do |item| %>
      <li><%= item.name %>: <%= item.description %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="container jumbotron index-jumbotron center">
    <button class="btn btn-lg sign-up"><%= link_to "Sign Up", new_user_registration_path %></button>
    <button class="btn btn-lg log-in"><%= link_to "Log In", new_user_session_path %></button>
  </div>
<% end %>
