<h2>Add a new location:</h2>
<%= form_for [@area, @location] do |f| %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
